build
captures
.gradle
.idea
.kotlin

app/my-new-release-key.jks
app/debug
app/release
app/googleplay
app/foss
keystore.properties
local.properties
*.iml
*.swp
*.apk
*.aab
*.log
.DS_Store
.externalNativeBuild
NFC-Alarm-Clock-12.7.2-beta025-original.zip
